<ion-view view-title="Add Contacts">
<ion-content class="padding">
<div class="col-sm-4">
	<div class="form-group">
    	<input id="userName" type="text" value="" placeholder="Name" class="form-control" />
	</div>
</div>
<div class="col-sm-4">
	<div class="form-group">
    	<input id="userNumber" type="text" value="" placeholder="Number" class="form-control" />
	</div>
</div>
<div class="col-sm-4">
	<div class="form-group">
    	<input id="userImage" type="text" value="" placeholder="Image" class="form-control" />
	</div>
</div>
<button id="addContact" class="btn btn-primary" onclick="checkAndAdd()">Done</button>
</ion-content>
</ion-view>
